# go environment
.env

# Vendor
vendor/*

*.exe

.idea/*

wireguard

ui/.idea/*
ui/dist/*

.DS_Store
ui/node_modules
/dist

# local env files
ui/.env.local
ui/.env.*.local

.idea

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/

# output
meshify
__debug_bin

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
